<html>

<head>
    <link rel="stylesheet" href="https://unpkg.com/@universis/theme@1.0.5/css/universis.css"
        integrity="sha384-GcIMWx3Jq0rHFUoV9TxtmxKkYHxwNoaXhDb/sNO7H6s6X34p02LJyfVwnH2B61sl" crossorigin="anonymous">
    <style>
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="text-right mb-2">
            <img style="height: 64px" src="https://students.universis.io/assets/img/universis_logo_128_color.png"
                alt="Universis Project Logo">
        </div>
        <h3>Έχεις νέο μήνυμα από το UniverSIS</h3>
        <div class="card">
            <div class="card-body">
                <%if(category == 'InstructorMessage') {%>
                <p>
                    Μήνυμα από τον/την <b><%=sender.familyName%> <%=sender.givenName%> σχετικά με το μάθημα <%=courseClass.title%></b>
                </p>
                <%}%>

                <p>
                     <%=body%>
                </p>

            </div>
        </div>
    </div>
</body>

</html>
